---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Forms from '../components/Forms.astro';
import ApplePay from '../components/ApplePay.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
<Hero
  image="/img/strand.webp"
  heading='Få et <span class="red">Dankort</span> der giver noget tilbage'
  title="Vi gør skiftet enkelt - på 3 nemme skridt"
  description="Vi guider dig gennem hele processen, så du slipper for bank-bøvlet."
  variant="hero--strand"
/>
  <Forms />
  <ApplePay />
  <Footer />
</Layout>