---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import InfoCard from '../components/InfoCard.astro';
import Coffe from '../components/Coffe.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Benefits from '../components/Benefits.astro';
import Stats from '../components/Stats.astro';
import Cta from '../components/Cta.astro';
import Projects from '../components/Projects.astro';
import ApplePayInfo from '../components/ApplePayInfo.astro';
import Partners from '../components/Partners.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
<Header />

<Hero
  image="/img/landskab.webp"
  heading='<span class="red">Dankort</span> Øremærket'
  title="Det er sejt at give noget tilbage."
  description="Med Dankort Øremærket støtter du dansk natur — bare ved at betale som normalt."
  buttonText="Bestil dit Dankort her"
  variant="hero--landscape"
/>
  <InfoCard />

  <Coffe />

  <HowItWorks />

  <Benefits />

  <Stats />

  <Cta />

  <Projects />

  <ApplePayInfo />

  <Partners />

  <Faq />

  <Footer />

</Layout>