    <section class="kolonne">
      <div class="kolonne_overskift">
        <h2>Ofte stillede spørgsmål</h2>
      </div>
      <details>
        <summary>
          <h3>Hvorfor samarbejder vi med Den Danske Naturfond?</h3>
        </summary>
        <p>
          Samarbejdet med Den Danske Naturfond handler om at styrke den trængte
          biodiversitet og give den danske natur mere plads. Gennem strategiske
          partnerskaber sikrer virksomheder og organisationer konkret, at truede
          dyre- og plantearter får bedre levesteder, og at naturen genoprettes
          for altid.
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvorfor donerer Dankort til naturen og ikke andre formål?</h3>
        </summary>
        <p>
          Dankort valgte at støtte den vilde natur (gennem Dankort Øremærket)
          for at tackle den akutte biodiversitetskrise. De vurderede, at et
          fælles, nationalt løft til genopretning af den danske natur er en af
          vores største fælles udfordringer, og derfor samler dette formål bredt
          på tværs af befolkningen.
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvem er Den Danske Naturfond?</h3>
        </summary>
        <p>
          Naturfonden køber, beskytter og genopretter natur i hele Danmark for at sikre unikke naturoplevelser og evigtvarende naturbeskyttelse. 

Den Danske Naturfond er en privat fond, som har flere end 23 naturområder, hvor alle kan nyde naturen året rundt. Naturfonden arbejder for at give alle bedre mulighed for at komme tæt på de dyr og planter, der gør dansk natur til noget særligt. 
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvordan hjælper Naturfonden klimaet?</h3>
        </summary>
        <p>
          Dankort valgte at støtte den vilde natur frem for andre formål, fordi
          biodiversitetskrisen er en af vores største fælles udfordringer. De
          fandt det naturligt at vælge et formål, der gavner hele samfundet.
        </p>
      </details>

      <details>
        <summary>
          <h3>Koster det mig noget som forbruger?</h3>
        </summary>
        <p>
          Nej. Alle donationer sker gratis og automatisk for dig som kortholder.
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvorfor donerer Dankort til naturen og ikke andre formål?</h3>
        </summary>
        <p>
          Dankort støtter udelukkende naturen gennem "Dankort Øremærket", fordi
          biodiversitetskrisen vurderes som en af vores største udfordringer
        </p>
      </details>
    </section>


<style>
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  summary::after {
    content: "+";
    font-size: 2rem;
    transition: transform 0.2s ease;
    font-weight: 300;
    padding-right: 50px;
  }

  .kolonne {
    padding-left: 40px;
  }
  p{
    padding-left: 10px;
    padding-right: 10%;
  }

  details {
    border-bottom: 2px solid #ccc;
    padding: 12px 0;
    line-height: 1.8;
  }
</style>