    <section class="kolonne">
      <div class="kolonne_overskift">
        <h2>Ofte stillede spørgsmål</h2>
      </div>
      <details>
        <summary>
          <h3>Hvorfor samarbejder vi med Den Danske Naturfond?</h3>
        </summary>
        <p>
          Samarbejdet med Den Danske Naturfond handler om at styrke den trængte
          biodiversitet og give den danske natur mere plads. Gennem strategiske
          partnerskaber sikrer virksomheder og organisationer konkret, at truede
          dyre- og plantearter får bedre levesteder, og at naturen genoprettes
          for altid.
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvorfor donerer Dankort til naturen og ikke andre formål?</h3>
        </summary>
        <p>
          Dankort valgte at støtte den vilde natur (gennem Dankort Øremærket)
          for at tackle den akutte biodiversitetskrise. De vurderede, at et
          fælles, nationalt løft til genopretning af den danske natur er en af
          vores største fælles udfordringer, og derfor samler dette formål bredt
          på tværs af befolkningen.
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvorfor samarbejder vi med Den Danske Naturfond?</h3>
        </summary>
        <p>
          Dankort valgte et samarbejde med Den Danske Naturfond på grund af
          fondens store troværdighed og lokalt forankrede arbejde
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvorfor donerer Dankort til naturen og ikke andre formål?</h3>
        </summary>
        <p>
          Dankort valgte at støtte den vilde natur frem for andre formål, fordi
          biodiversitetskrisen er en af vores største fælles udfordringer. De
          fandt det naturligt at vælge et formål, der gavner hele samfundet.
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvorfor samarbejder vi med Den Danske Naturfond?</h3>
        </summary>
        <p>
          Dankort samarbejder med Den Danske Naturfond, fordi fonden er
          troværdig og arbejder lokalt. Initiativet skal skabe mere vild natur i
          Danmark. Ved hver betaling donerer Dankort 1 øre til naturbevarelse,
          og ordningen sikrer mindst 10 millioner kroner årligt til opkøb og
          genopretning af naturområder.
        </p>
      </details>

      <details>
        <summary>
          <h3>Hvorfor donerer Dankort til naturen og ikke andre formål?</h3>
        </summary>
        <p>
          Dankort støtter udelukkende naturen gennem "Dankort Øremærket", fordi
          biodiversitetskrisen vurderes som en af vores største udfordringer
        </p>
      </details>
    </section>


<style>
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  summary::after {
    content: "+";
    font-size: 2rem;
    transition: transform 0.2s ease;
    font-weight: 300;
    padding-right: 50px;
  }

  details {
    border-bottom: 2px solid #ccc;
    padding: 12px 0;
    line-height: 1.8;
  }
</style>