---

import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
const endpoint = "https://appumwlllsxyfwtyvmsg.supabase.co/rest/v1/projects?select=*";
const key = "sb_publishable_Bm9oMslCGTUIlechk_bY4Q_YYycMyRe";
const options={
	headers:{
		apikey: key,
	},};

const data = await fetch (endpoint, options).then((response)=>response.json());
console.log(data);
---
<Layout>
	
	<h2>Her har vi støttet Dansk natur</h2>
	<section>
	{data.map((product)=> <ProjectCard {product}/> )}
	</section>
</Layout>
<style>
	section {
		display: grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
	}
	 @media (max-width: 900px) {
    section {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>