---

import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
const endpoint = "https://appumwlllsxyfwtyvmsg.supabase.co/rest/v1/projects?select=*";
const key = "sb_publishable_Bm9oMslCGTUIlechk_bY4Q_YYycMyRe";
const options={
	headers:{
		apikey: key,
	},};

const data = await fetch (endpoint, options).then((response)=>response.json());
console.log(data);
---
<Layout>
	<section>
	<h2>Her har vi støttet Dansk natur</h2>
	
    <div class="sectiongrid">
	{data.map((product)=> <ProjectCard {product}/> )}
    </div>
    </section>
    
</Layout>
<style>
	.sectiongrid {
		display: grid;
		grid-template-columns:1fr 1fr ;
	}
   

	 @media (min-width: 701px) {
    .sectiongrid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
</style>